{% extends 'base.html.twig' %}

{% block body %}
    <div class="container col-6">
            

                <div class="card">
                    <h3>Your order has been placed. </h3>
                    <h3>Final bill amount is {{ finalAmount }} dirhams. </h3>
                    <h3> Thank you for shopping with us. </h3>
                    <h3> Have a nice day! </h3>
                    <h3> Click  <a href="{{ path('shop') }}">here</a>  to order from us again </h3>
                </div>    
    </div>

{% endblock %}

